In [1]:
%matplotlib inline 

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('df_travel.csv')

In [3]:
df.head()

,Unnamed: 0,backoff,has_more,page,quota_max,quota_remaining,total,Has_synonyms,Is_moderator_only,Is_required,Count,Name
0,0,0,False,1,10000,9999,0,False,False,False,1.0,hebrew
1,1,0,False,1,10000,9999,0,False,False,False,5.0,expired
2,2,0,False,1,10000,9999,0,False,False,False,1.0,concurrent-h1b
3,3,0,False,1,10000,9999,0,False,False,False,1.0,housekeeping
4,4,0,False,1,10000,9999,0,False,False,False,5.0,canadian-permanent-residents

In [9]:
df.columns

Index(['Unnamed: 0', 'backoff', 'has_more', 'page', 'quota_max',
       'quota_remaining', 'total', 'Has_synonyms', 'Is_moderator_only',
       'Is_required', 'Count', 'Name'],
      dtype='object')

In [10]:
df=df.drop(columns='Unnamed: 0')

In [20]:
df.tail(5)

,backoff,has_more,page,quota_max,quota_remaining,total,Has_synonyms,Is_moderator_only,Is_required,Count,Name
26,0,False,1,10000,9999,0,False,False,False,5.0,el-salvador
27,0,False,1,10000,9999,0,False,False,False,1.0,trans-mongolian
28,0,False,1,10000,9999,0,False,False,False,2.0,sao-tome-and-principe
29,0,False,1,10000,9999,0,False,False,False,2.0,advance-passenger-information
30,0,False,1,10000,9999,0,False,False,False,2.0,micro-states

In [13]:
df.dtypes

backoff                int64
has_more                bool
page                   int64
quota_max              int64
quota_remaining        int64
total                  int64
Has_synonyms          object
Is_moderator_only     object
Is_required           object
Count                float64
Name                  object
dtype: object

In [18]:
df.size

341

In [19]:
df.shape

(31, 11)

In [24]:
df.isna().any()

backoff              False
has_more             False
page                 False
quota_max            False
quota_remaining      False
total                False
Has_synonyms         False
Is_moderator_only    False
Is_required          False
Count                False
Name                 False
dtype: bool