In [63]:
import pandas as pd
import numpy as np

In [64]:
df=pd.read_csv('datafile_new_travel.csv')

In [66]:
df.tail(5)

,backoff,has_more,page,quota_max,quota_remaining,total,items
26,0,False,1,10000,9999,0,"{'has_synonyms': False, 'is_moderator_only': F..."
27,0,False,1,10000,9999,0,"{'has_synonyms': False, 'is_moderator_only': F..."
28,0,False,1,10000,9999,0,"{'has_synonyms': False, 'is_moderator_only': F..."
29,0,False,1,10000,9999,0,"{'has_synonyms': False, 'is_moderator_only': F..."
30,0,False,1,10000,9999,0,"{'has_synonyms': False, 'is_moderator_only': F..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   backoff          31 non-null     int64
 1   has_more         31 non-null     bool
 2   page             31 non-null     int64
 3   quota_max        31 non-null     int64
 4   quota_remaining  31 non-null     int64
 5   total            31 non-null     int64
 6   items            31 non-null     object
dtypes: bool(1), int64(5), object(1)
memory usage: 1.6+ KB

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df['backoff'].dtypes

dtype('int64')

In [7]:
type(df['items'])

pandas.core.series.Series

In [8]:
#Splitti la colonna items
split_cols = df['items'].str.split(',',expand=True)

In [9]:
split_cols.head(3)

,0,1,2,3,4
0,{'has_synonyms': False,'is_moderator_only': False,'is_required': False,'count': 1,'name': 'hebrew'}
1,{'has_synonyms': False,'is_moderator_only': False,'is_required': False,'count': 5,'name': 'expired'}
2,{'has_synonyms': False,'is_moderator_only': False,'is_required': False,'count': 1,'name': 'concurrent-h1b'}

In [10]:
items = df['items']

In [11]:
name=['Has_synonyms','Is_moderator_only','Is_required','Count','Name']

In [12]:
name.index

In [13]:
#Cambi nome alle colonne
split_cols.columns = [f'{i}' for i in name]

In [14]:
split_cols.head(3)

,Has_synonyms,Is_moderator_only,Is_required,Count,Name
0,{'has_synonyms': False,'is_moderator_only': False,'is_required': False,'count': 1,'name': 'hebrew'}
1,{'has_synonyms': False,'is_moderator_only': False,'is_required': False,'count': 5,'name': 'expired'}
2,{'has_synonyms': False,'is_moderator_only': False,'is_required': False,'count': 1,'name': 'concurrent-h1b'}

In [15]:
cols = split_cols.columns

In [16]:
split_cols[cols] = split_cols[cols].replace(
    {'has_synonyms':'','is_moderator_only':'','is_required':'','count':'','name':'','{':'','}':'',':':'','\'':''}, regex=True)

In [17]:
split_cols.head(2)

  Has_synonyms Is_moderator_only Is_required Count       Name
0        False             False       False     1     hebrew
1        False             False       False     5    expired

In [18]:
split_cols['Count'].dtypes

dtype('O')

In [37]:
#Trasformo la colonna Count in interi creando una nuova variabile
Count=split_cols['Count'].astype(str).astype(float)

In [38]:
Count.head()

0    1.0
1    5.0
2    1.0
3    1.0
4    5.0
Name: Count, dtype: float64

In [41]:
#Sostituisco la colonna "count" vecchia con la nuova con valori float
split_cols = split_cols.assign(Count=Count)

In [42]:
split_cols.head(2)

  Has_synonyms Is_moderator_only Is_required  Count       Name
0        False             False       False    1.0     hebrew
1        False             False       False    5.0    expired

In [53]:
df=df.drop(['items'], axis=1)

In [58]:
df_travel = df.join(split_cols)

In [59]:
df_travel.head(5)

,backoff,has_more,page,quota_max,quota_remaining,total,Has_synonyms,Is_moderator_only,Is_required,Count,Name
0,0,False,1,10000,9999,0,False,False,False,1.0,hebrew
1,0,False,1,10000,9999,0,False,False,False,5.0,expired
2,0,False,1,10000,9999,0,False,False,False,1.0,concurrent-h1b
3,0,False,1,10000,9999,0,False,False,False,1.0,housekeeping
4,0,False,1,10000,9999,0,False,False,False,5.0,canadian-permanent-residents

In [61]:
df_travel.columns

Index(['backoff', 'has_more', 'page', 'quota_max', 'quota_remaining', 'total',
       'Has_synonyms', 'Is_moderator_only', 'Is_required', 'Count', 'Name'],
      dtype='object')

In [62]:
df_travel.to_csv('df_travel.csv')