In [1]:
import pandas as pd
import time as _time
import datetime
import numpy as np
from datetime import tzinfo, timedelta, datetime, time

In [2]:
path = "../Dataset FFF/fff.csv"

In [3]:
df = pd.read_csv(path)
df.columns

Index(['clean_tags', 'hashtags', 'date', 'user_id', 'username', 'name',
       'tweet', 'language', 'mentions', 'replies_count', 'retweets_count',
       'likes_count', 'link', 'retweet', 'reply_to'],
      dtype='object')

In [4]:
df = df.sort_values(by=['date'])

In [8]:
df.head(1)

,clean_tags,hashtags,date,user_id,username,name,tweet,language,mentions,replies_count,retweets_count,likes_count,link,retweet,reply_to
23503,"klimastreik, fridaysforfuture, allefuersklima,...","['klimastreik', 'fridaysforfuture', 'allefuers...",2019-09-20,19811643,lvz,LVZ,Verkehrschaos in der City: Auf dem Ring ist de...,de,[],2,5,17,https://twitter.com/LVZ/status/117507069339176...,False,[]

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
df['Year'] = df['date'].dt.year 
df['Month'] = df['date'].dt.month 
df['Day'] = df['date'].dt.day

In [9]:
df.head(1)

,clean_tags,hashtags,date,user_id,username,name,tweet,language,mentions,replies_count,retweets_count,likes_count,link,retweet,reply_to
23503,"klimastreik, fridaysforfuture, allefuersklima,...","['klimastreik', 'fridaysforfuture', 'allefuers...",2019-09-20,19811643,lvz,LVZ,Verkehrschaos in der City: Auf dem Ring ist de...,de,[],2,5,17,https://twitter.com/LVZ/status/117507069339176...,False,[]

In [9]:
df.insert(3, 'Year', df.pop('Year'))

In [10]:
df.insert(4, 'Month', df.pop('Month'))

In [11]:
df.insert(5, 'Day', df.pop('Day'))

In [64]:
df.head(2)

,clean_tags,hashtags,date,user_id,username,name,tweet,language,mentions,replies_count,retweets_count,likes_count,link,retweet,reply_to
23503,"klimastreik, fridaysforfuture, allefuersklima,...","['klimastreik', 'fridaysforfuture', 'allefuers...",2019-09-20,19811643,lvz,LVZ,Verkehrschaos in der City: Auf dem Ring ist de...,de,[],2,5,17,https://twitter.com/LVZ/status/117507069339176...,False,[]
23161,"climatestrike, youthclimatestrike, fridaysforf...","['climatestrike', 'youthclimatestrike', 'frida...",2019-09-20,457653720,jakewoodier,Jake Woodier,"Wow, provisional estimate in for the UK #Clima...",en,"[{'screen_name': 'strike4youth', 'name': 'yout...",15,287,1341,https://twitter.com/JakeWoodier/status/1175125...,False,[]

In [81]:
#Prendo solo il 2021 -post pandemia
#faccio la colonna mesi e la applico al dizionario
df['date'] = pd.to_datetime(df['date'])

In [36]:
date=df['date']

In [82]:
df['Year'] = df['date'].dt.year 
df['Month'] = df['date'].dt.month 
df['Day'] = df['date'].dt.day

In [84]:
df.insert(3, 'Year', df.pop('Year'))
df.insert(4, 'Month', df.pop('Month'))
df.insert(5, 'Day', df.pop('Day'))

In [85]:
df_2021=df[df['Year']==2021]

Ho selezionato il **2021** e abbiamo come risultato un df di **5910 valori**

In [91]:
#Creo un file csv
df_2021.to_csv('../Dataset FFF/fff_2021.csv', index=False)

In [92]:
df1=pd.read_csv("../Dataset FFF/fff_2021.csv")
df1.head(5)

,clean_tags,hashtags,date,Year,Month,Day,user_id,username,name,tweet,language,mentions,replies_count,retweets_count,likes_count,link,retweet,reply_to
0,"fridaysforfuture, climatestrike, climateemerge...","['fridaysforfuture', 'climatestrike', 'climate...",2021-01-01,2021,1,1,2159967748,brothadestin,Destin M. Sempijja 🇺🇬,#FridaysForFuture we wish u a happy new year 2...,en,[],6,32,62,https://twitter.com/brothadestin/status/134501...,False,[]
1,"climatestrike, newyear, climatecrisis, climate...","['climatestrike', 'newyear', 'climatecrisis', ...",2021-01-01,2021,1,1,1083095649372065793,anikadafert,Anika Dafert,#ClimateStrike week 100! Happy #NewYear! Tod...,en,[],31,224,1407,https://twitter.com/anikadafert/status/1344994...,False,[]
2,"happynewyear2021, fridaysforfuture","['happynewyear2021', 'fridaysforfuture']",2021-01-01,2021,1,1,1068337838,luisamneubauer,Luisa Neubauer,Frohes neues Jahr und danke an das Internet da...,de,[],555,341,6576,https://twitter.com/Luisamneubauer/status/1344...,False,[]
3,"deutschunterricht, fridaysforfuture, fff","['deutschunterricht', 'fridaysforfuture', 'fff']",2021-01-01,2021,1,1,4821992621,boesmensch60488,Bösmensch 🇩🇪🇦🇲,"Das kommt dafon, wenn man das #Deutschunterric...",de,[],7,6,36,https://twitter.com/Boesmensch60488/status/134...,False,[]
4,"climatestrikeonline, digitalstrike, fridaysfor...","['climatestrikeonline', 'digitalstrike', 'frid...",2021-01-01,2021,1,1,1205202374765232130,tomstweeters,Tom #StandWithUkraine 🇺🇦,#ClimateStrikeOnline #DigitalStrike for #Frida...,en,[],4,15,35,https://twitter.com/TomsTweeters/status/134500...,False,[]

In [94]:
#Ti crea un dizionario in cui le chiavi sono i tag singoli e i valori sono gli id degli user
tags_dict = {}
for i in range(len(df1)):
    ll = df1["clean_tags"][i].split(",")
    for tg in ll:
        tgs=tg.lstrip()
        if tgs not in tags_dict:
            tags_dict[tgs] = [df1["Month"][i]]
        else:
            tags_dict[tgs].append(df1["Month"][i])

In [95]:
#Crea la lista di tags dalle chiavi del dizionario e li associa alla variabile tag
tags = list(tags_dict.keys())
#crea una lista costituita da coppie di tags
couple_tags = []
for i in range(len(tags)):
    for j in tags[i+1:]:
        couple_tags.append((tags[i], j))

In [96]:
source = []
target = []
date = []
nodes = []
for i in couple_tags:
    ll = list(set(tags_dict[i[0]]) & set(tags_dict[i[1]]))
    if len(ll)>0:
        source.append(i[0])
        target.append(i[1])
        date.append(ll)
        nodes.append(i[0])
        nodes.append(i[1])

In [97]:
len(date)

1061580

In [98]:
len(target)

1061580

In [99]:
new_df = pd.DataFrame({"Source": source,
                       "Target": target,
                      "Date": date})
new_df.to_csv("../Dataset FFF/edges_date.csv", index=False)

In [100]:
path = "../Dataset FFF/edges_date.csv"

In [101]:
fff = pd.read_csv(path)

In [102]:
fff.head()

,Source,Target,Date
0,fridaysforfuture,climatestrike,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
1,fridaysforfuture,climateemergency,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
2,fridaysforfuture,climatestrikeonline,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
3,fridaysforfuture,newyear,[1]
4,fridaysforfuture,climatecrisis,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"

In [ ]:
new_df

In [ ]:
source = []
target = []
count = []
nodes = []
for i in couple_tags:
    ll = list(set(tags_dict[i[0]]) & set(tags_dict[i[1]]))
    if len(ll)>0:
        source.append(i[0])
        target.append(i[1])
        count.append(len(ll))
        nodes.append(i[0])
        nodes.append(i[1])

In [ ]:
len(count)

In [ ]:
len(month)

In [ ]:
len(year)

In [ ]:
len(nodes)

In [ ]:
new_df = pd.DataFrame({"Title": df["Title"], "Timeval": new_date, "Month": month})
new_df.to_csv("../Dataset FFF/tweet_with_time.csv", index=False)

In [ ]:
source = []
target = []
for i in couple_tags:
    source.append(i[0])
    target.append(i[1])

In [ ]:
month = []
for i in time_tags:
    month.append(i[5:7])

In [ ]:
new_df = pd.DataFrame({"Id": tags, "Timeval": time_tags, "Month": month})
new_df.to_csv("../Dataset FFF/hashtags_with_time.csv", index=False)

In [ ]:
month = []
for i in time_couple:
    month.append(i[5:7])

In [ ]:
new_df = pd.DataFrame({"Source": source,
                       "Target": target,
                      "Timeval": time_couple, "Month": month})
new_df.to_csv("../Dataset FFF/hashtags_edges_with_time.csv", index=False)